<h1>DroidSpy</h1>
<p> A Platform to Share Information and Watch the Skies for Asteroids.</p>




<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7TcpaYv9ElajJ81kHLWnWl7l2VyMcGnPN17E1u2iCCT4PeZgJyg">


<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSExnfY6aqULMXBzyEaXE2b9W2HlfVpQanucSa_nFv4ID0950DmMQ">

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>
 

<h2>Add a comment:</h2>
<%= render "comments/form" %>
  
 
<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>